@font-face {
  font-family: font-fm;
  src: url("../font/AmazonEmber_He.ttf");
}
@font-face {
  font-family: font-fm-lt;
  src: url("../font/AmazonEmber_Lt.ttf");
}
@font-face {
  font-family: font-fm-ltlt;
  src: url("../font/AmazonEmber_Ltlt.ttf");
}
:root {
  --description-link-color: #317190;
  --font-fm-ltlt: font-fm-ltlt;
  --font-fm: font-fm;
  --font-fm-lt: font-fm-lt;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.navebar-sec {
  width: 100%;
}
.nav-1 {
  height: 60px;
  width: 100%;
  background: #131921;
}
.nav-1 ul {
  display: flex;
}

.nav-1 ul li .logo-inner {
  width: 115px;
  height: 50px;
  margin-top: 5px;
  margin-left: 13px;
  border: #131921 solid 1px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") -4px -40px;
}
.nav-1 ul li .logo-inner:hover {
  border-color: white;
}
.deliver-to {
  width: 90.64px;
  height: 60;
  margin-left: 7px;

  color: #d6d6d6;
}
.deliver-to-content {
  width: 88.64px;
  height: 50px;
  margin: 5px 0px 5px 0px;
  padding: 0px 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
}
.deliver-to-content:hover {
  border: 1px solid white;
}
.location {
  width: 15px;
  height: 18px;
  grid-area: 1 / 1 / 2 / 2;
  margin-top: 21px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    no-repeat -71px -379px;
  display: flex;
  justify-self: flex-end;
  margin-right: 4px;
}

.d-to-text {
  margin-top: 10px;
  grid-area: 1 / 2 / 2 / 5;
}

.d-to {
  font-size: 12px;
  color: #cccccc;
  font-weight: 400;
  line-height: 14px;
  font-family: font-fm-lt;
}
.nav-1 .contry {
  font-weight: bold;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: font-fm;
}

.nav-1 ul li #departments {
  height: 40px;
  width: 53px;
  padding-left: 6px;
  font-family: font-fm-lt;
  background: #f3f3f3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-right: 0.2px rgb(168, 167, 167) solid;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.nav-1 ul li #departments:focus {
  outline: none;
  border: #ff9900 solid 2px;
}
.nav-1 ul li #departments:hover {
  background: #dadada;
  cursor: pointer;
  color: #0f1111;
  font-weight: 600;
}
.nav-1 ul li .search-input:focus {
  outline: none;
}
.search-input {
  width: 640px;
  height: 40px;
  border: none;
}

.search-container {
  display: flex;
  width: 100%;
  height: 46px;
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
  margin-left: 11px;
}

.btn-background {
  width: 45px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #febd69;
  position: relative;
  z-index: 1;
}
.btn-background:hover {
  background: #f3a847;
}

.search-btn {
  width: 45px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: transparent;
  position: absolute;
  z-index: 5;
}
.search-btn:hover {
  cursor: pointer;
}
.search-btn:focus {
  border: solid 4px #f3a847;
}
.btn-search-img {
  width: 35px;
  height: 40px;
  background: url(../img/McBZv0ZvnbehkIx.png)-185px -30px;
  position: absolute;
  z-index: 2;
}
.nav-1 ul li #departments:focus {
  outline: none;
  border: #ff9900 solid 2px;
}

.lang-menu {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  align-items: center;
}
.lang-container {
  width: 55px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 1px #131921;
}
.lang-container:hover {
  border-color: white;
}

.lang-flag-container {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 4px;
}
.nav-1 li a .lang-flag {
  width: 24px;
  height: 18px;
  background: url(../img/rzrQQdi0aRm6Dap.png) -0px -130px;
}
.nav-1 li a .lang-arrow {
  width: 8px;
  height: 4px;
  background: url(../img/white-arrow-png-41965-Windows.ico) no-repeat center
    center/cover;
  margin: 2px;
}

/*nav sign in */
.sign-in {
  margin-top: 5px;
  margin-left: 6px;
}
.sign-in-link {
  width: 120px;
  height: 50px;
  padding-bottom: 10px;
  padding-right: 9px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #d6d6d6;
  text-decoration: none;
  border: solid 1px #131921;
}
.sign-in-link:hover {
  border: solid 1px white;
}
.sign-first-line {
  font-family: font-fm-lt;
  color: white;
}
.sign-second-line {
  font-family: font-fm;
  color: white;
}

/* Returns & Orders */

.returns {
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.return-and-orders {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 9px 10px;
  border: #131921 solid 1px;
}
.return-and-orders:hover {
  border-color: white;
}
.returns a {
  text-decoration: none;
}
.return-and-orders span {
  color: white;
}
.return-and-orders .return-first-line {
  align-self: flex-start;
  margin-top: 9px;
  font-family: var(--font-fm-lt);
}
.return-and-orders .return-second-line {
  font-family: var(--font-fm);
}

/* Cart */

.cart {
  width: 84px;
  height: 50px;
  display: flex;
  margin-top: 5px;
}
.cart-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2px 0 2px;
  padding: 0px 5px 11px;
  border: #131921 solid 1px;
}
.cart-content:hover {
  border-color: white;
}
.cart-img {
  position: relative;
  width: 43px;
  height: 28px;
  background: url(../img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png) -218px -337px;
}
.counter {
  position: absolute;
  left: 20px;
  bottom: 13px;
  color: #cc6612;
  font-size: 16px;
  font-family: var(--font-fm);
}
.cart-text {
  color: #d6d6d6;
  text-decoration: none;
  align-self: flex-end;
  font-size: 14px;
  font-family: var(--font-fm);
}

/* Second Nav */

/* left side */
.nav-2 {
  height: 39px;
  width: 100%;
  background: #232f3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-2 .nav-2-left-side ul {
  display: flex;
  justify-content: center;
  padding: 0 0 0 11px;
}
.nav-2 .nav-2-left-side ul a {
  width: 100%;
  height: 100%;
  font-family: var(--font-fm-lt);

  font-size: 14px;
  padding: 6px 7px;
  border: solid 1px #232f3e;
  color: white;
  display: flex;
}

.nav-2 .nav-2-left-side ul a:hover {
  border-color: white;
}

.all-inner-image {
  width: 17px;
  height: 14px;
  background: url(../img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png)
    no-repeat -172px -255px;
}
.all-text {
  padding: 0 0 0 5px;
  font-weight: 600;
  font-family: var(--font-fm);
}

/* right side */
.nav-2 .nav-2-right-side {
  text-decoration: none;

  margin: 0 10px 0 0;
}
.nav-2 .nav-2-right-side a {
  color: white;
  font-family: var(--font-fm);
  padding: 6px 7px;
  border: solid 1px #232f3e;
}
.nav-2 .nav-2-right-side a:hover {
  border-color: white;
}

.nav-3 {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: rgb(223, 218, 218) solid 1px;
}
.nav-3 ul {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}
.nav-3 ul .nav-3-list-item {
  padding: 0px 11px;
  padding-bottom: 8px;
  color: #333333;
  font-family: var(--font-fm-lt);
  font-size: 12px;
  font-weight: 700;
}

.nav-3 ul .nav-3-list-item:hover {
  border-bottom: #ff9900 2px solid;
  color: rgb(194, 43, 43);
}
.nav-3-link-chicked {
  font-family: var(--font-fm);
}

/* katagory tree */

.body-sec {
  margin-top: 10px;
  margin-bottom: 10px;

  padding: 0 18px 18px;
}

.catagory-tree {
  display: flex;
  margin-bottom: 24px;

  height: 1rem;
}
.catagory-name-link {
  font-size: 12px;
  color: #565959;
}
.catagory-name-link:hover {
  text-decoration: underline;
}

.catagory-2 {
  padding-left: 6px;
}
.catagory-3 {
  padding-left: 6px;
}
.catagory-arrow {
  width: 3.98;
  padding-left: 6px;
  font-size: 2px;
}
.prodect-info-container {
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1fr 1fr 1fr repeat(2, 1fr) 0fr 1.5fr;
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.prodact-info {
  justify-content: center;
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 1 / 1 / 11 / 10;
}

/* Images  */
.images-container {
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 0.8fr repeat(10, 1fr) 0.2fr;
  grid-template-rows: repeat(7, 0.35fr) repeat(5, 1fr);
  grid-column-gap: -10px;
  grid-row-gap: 0px;
}

.small-pec {
  width: 40px;
  height: 40px;
  border: black solid 1px;
}
.small-pec:hover {
  border: solid 1px #ff9900;
  box-shadow: 0.01px 0.01px 1px 1px #e77600, -0.1px -0.1px 1px 1px #e77600;
}
.pec-1 {
  grid-area: 1 / 1 / 2 / 2;
  background: url("https://m.media-amazon.com/images/I/51aIDYrc84L._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-2 {
  grid-area: 2 / 1 / 3 / 2;
  background: url("https://m.media-amazon.com/images/I/41VYa7M4LRL._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-3 {
  grid-area: 3 / 1 / 4 / 2;
  background: url("https://m.media-amazon.com/images/I/31tLq+9VanL._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-4 {
  grid-area: 4 / 1 / 5 / 2;
  background: url("https://m.media-amazon.com/images/I/51By6LJbT2L._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-5 {
  grid-area: 5 / 1 / 6 / 2;
  background: url("https://m.media-amazon.com/images/I/51H4lOvNWFL._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-6 {
  grid-area: 6 / 1 / 7 / 2;
  background: url("https://m.media-amazon.com/images/I/61bGw3TyToL._AC_US40_.jpg")
    no-repeat center center/cover;
}
.pec-7 {
  grid-area: 7 / 1 / 8 / 2;
  background: url("https://m.media-amazon.com/images/I/5187wtAxnQL._SS40_BG85,85,85_BR-120_PKdp-play-icon-overlay__.jpg")
    no-repeat center center/cover;
}
.main-image {
  width: 425.38px;
  height: 545px;
  grid-area: 1 / 2 / 13 / 12;
}

.pec-1 ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/71KYDouQCEL._AC_SX569_.jpg")
    no-repeat center center/cover;
  background-size: 350px 545px;
}
.pec-2:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/71ms7OG3ZTL._AC_SX569_.jpg")
    no-repeat center center/cover;
  background-size: 425.38px 545px;
}
.pec-3:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/61dDD9yfmwL._AC_SL1500_.jpg")
    no-repeat center center/cover;
  background-size: 150px 545px;
}
.pec-4:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/71CKRz2sfVL._AC_SX569_.jpg")
    no-repeat center center/cover;
  background-size: auto;
  width: 569px;
}
.pec-5:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/8178EaAv7HL._AC_SX569_.jpg")
    no-repeat center center/cover;
  background-size: auto;
  width: 550px;
}
.pec-6:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/81FwKrIjTXL._AC_SX569_.jpg")
    no-repeat center center/cover;
  width: 551px;
}
.pec-7:hover ~ .main-image {
  background: url("https://m.media-amazon.com/images/I/5187wtAxnQL.jpg")
    no-repeat center center/cover;
  background-size: 522px 255px;
  background-position: top;
  width: 522px;
  margin-left: 19px;
}

/* description */
.description-container {
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 26px;
  width: 431px;
  
}
.description-container a {
  color: var(--description-link-color);
}
.description-container a:hover {
  text-decoration: underline;

  color: #c7511f;
}

.description-h1 {
  margin-top: 0;
  width: 450px;
  height: 62px;
}
.description-title {
  color: #0f1111;
  font-family: var(--font-fm-lt);
}
.vtech-stor {
  margin-top: -11px;
}
.vtech-stor .vtech-stor-link {
  font-size: 14px;
  font-family: var(--font-fm-lt);
  font-weight: 700;
}

.average-customer-reviews {
  margin-top: 6px;
}
.star-rating {
  display: flex;
}
.stars-container .a-stars {
  display: flex;
}
.stars-container .a-stars:hover > div > i {
  opacity: 1;
}
.stars {
  width: 80px;
  height: 18px;
  background: url(../img/star-rating.jpg) no-repeat center center/cover;
  background-size: 80px 18px;
}
.stars-arrow {
  margin-top: 5px;
  margin-left: 5px;
}
.stars-arrow i {
  opacity: 0.5;
}
.rating {
  margin-left: 25px;
  color: var(--description-link-color);
}
.wall {
  color: #666666;
  margin-left: 8px;
}
.star-rating .questions {
  margin-left: 8px;
}

.star-rating .questions a {
  color: var(--description-link-color);
}

/* Amazons Choice */
.amazon-choice {
  width: 116.72px;
  height: 23px;
  background: url(../img/amazons-choice.jpg) no-repeat center center/cover;
}

.amazon-choice-wraper {
  display: flex;
  align-items: center;
  font-family: var(--font-fm-ltlt);
  margin-top: 9px;
  margin-bottom: 11px;
}
.amazon-extra-text {
  margin-left: 8px;
}
.light-border {
  margin-bottom: 19px;
  opacity: 0.6;
}

/* Price Table */
.price-table {
  font-family: var(--font-fm-lt);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.orginal-price-label {
  width: 63.52px;
}
.orginal-price {
  text-decoration: line-through;
}
.descount-price {
  display: inline;
  padding-left: 30px;
}
.descount-price-num {
  color: #922501;
  font-size: 17px;
  font-weight: 700;
}
.descount-saving {
  color: #b83104;
}
.description-para {
  font-family: var(--font-fm-lt);
  font-weight: 700;
  margin-bottom: 19px;
}

.small-watch-image-color {
  font-family: var(--font-fm);
}
.small-watch-color-label {
  font-family: var(--font-fm-lt);
  font-weight: 700;
  margin-bottom: 13px;
}

.des-small-img-container {
  margin-top: 13px;
  margin-bottom: 13px;
}

.des-small-img-container li {
  display: inline;
  margin: 4px 0px 4px 6px;
}
.des-small-img-container .small-img-clicked img {
  border: solid 1px #ff9900;
}
.des-small-img-container .small-img-clicked {
  margin: 4px 0px 4px 0px;
}
.des-small-img li img {
  width: 36px;
  height: 36px;
}

.product-packag-label {
  font-family: var(--font-fm-lt);
  font-weight: 700;
}
.product-packag {
  font-family: var(--font-fm);
}
.product-packag-label ~ .product-packag {
  font-weight: bold;
}

.package-btn {
  padding: 7px 10px 7px 11px;
  font-size: 13px;
  font-family: var(--font-fm);
  background: transparent;
}
.package-btn:hover {
  cursor: pointer;
}
.package-btn-1 {
  margin-top: 13px;
  margin-bottom: 9px;
  border: 1px solid #ff9900;
}

.package-btn-2 {
  margin-left: 6px;
  border-style: dotted;
  opacity: 0.3;
}

.prodact-info-table td {
  padding: 5px;
  font-size: 14px;
}
.info-not-bolded {
  font-weight: 700;
}
.prodact-info-table {
  font-family: var(--font-fm-lt);
  height: 51px;
  margin-bottom: 7px;
}
.info-bolded {
  width: 83.2px;

  font-family: var(--font-fm);
}

.about-item {
  line-height: 1.7rem;
}
.about-item h2 {
  font-family: var(--font-fm);
}
.unorderd-list-normal-style {
  list-style: disc;
  font-family: var(--font-fm-lt);
  padding-left: 19px;
  font-weight: 700;
}
.last-in-description {
  font-family: var(--font-fm-lt);
  font-size: 14px;
  font-weight: 700;
}
.last-in-description span {
  color: #922501;
}
/* Buy or Add to Cart */
.buy-add-to-cart-container a {
  color: var(--description-link-color);
}
.buy-add-to-cart-container a:hover {
  text-decoration: underline;

  color: #c7511f;
}
.buy-add-to-cart-container {
  width: 244px;
  grid-area: 1 / 11 / 13 / 12;
}

.share {
  display: flex;
  width: 100%;
  justify-content: center;

  background: transparent;
}
.share-link1 {
  font-family: var(--font-fm-lt);
  font-weight: 400;
  font-size: 13px;

  color: #317190;
}

.share-link1:hover {
  text-decoration: underline;
}
.email {
  width: 18px;
  height: 17px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/communities/social/snwicons_v2._CB485949224_.png")
    no-repeat 0px 0px;
}
.email-link1 {
  margin-left: 8px;
}

.facebook {
  width: 17px;
  height: 17px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/communities/social/snwicons_v2._CB485949224_.png") -17px -1px;
  margin-left: 2px;
}
.facebook-link1 {
  margin-left: 8px;
}
.twitter {
  width: 15px;
  height: 17px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/communities/social/snwicons_v2._CB485949224_.png") -35px
    1px;
}
.twitter-link1 {
  margin-left: 8px;
}
.pinterest {
  width: 17px;
  height: 17px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/communities/social/snwicons_v2._CB485949224_.png") -49px
    0;
}
.pinterest-link1 {
  margin-left: 8px;
}
.purchese-description {
  width: 242px;
  
  padding: 14px 18px;
  font-size: 14px;
  font-family: var(--font-fm-lt);
  font-weight: 700;
  line-height: 1.7rem;
  border: 1px #D5D9D9 solid;
  border-radius: 10px;
}
.grayesh-color {
  color: #565959;
}

.bolded {
  color: black;
}

.descount-price-num-purchese {
  margin-bottom: 17px;

}
.first-p {
  margin-bottom: 22px;
}
.second-p {
  margin-bottom: 24px;
}
.location-2 {
  display: flex;
}

.location-2-icone {
  width: 16px;
  height: 14px;
  background: url("https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png")
    no-repeat;
  margin-bottom: 11px;
}

.in-stock {
  font-size: 18px;
  color: #007600;
}
.num-of-item-select {
  width: 62.72px;
  height: 22px;
  background: #f0f2f2;
  border-radius: 8px;
}
.num-of-item-select:focus {
  outline: none;
}
.select-wrapper {
  margin-top: 18px;
}

.add-to-cart-and-buy-btn {
  width: 100%;
  height: 31px;
  border-radius: 45px;
  border: none;
}
#add-to-cart-btn {
  background: #ffd814;
  margin-top: 10px;
}
#add-to-cart-btn:hover {
  background: #f7ca00;
  cursor: pointer;
}
#buy-now-btn {
  background: #ffa41c;
  margin-top: 8px;
}
#buy-now-btn:hover {
  background: #fa8900;
  cursor: pointer;
}
.security-announcement {
  display: flex;
  margin-top: 17px;
  margin-bottom: 18px;
}
.security-announcement:hover {
  cursor: pointer;
}

.security-icone {
  width: 11.42px;
  height: 15px;
  background: url("https://images-na.ssl-images-amazon.com/images/G/01/x-locale/checkout/truespc/secured-ssl._CB485936932_.png")
    no-repeat center center/cover;
  margin-right: 14px;
}
.return-policy {
  margin-top: 18px;
}

.buy-add-to-cart-light-border {
  margin-top: 13px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.add-to-list-btn{
  width: 100%;
  height: 31px;
  border: 0.5px gray solid ;
  background: #EEEFF2;
  text-align: left;
  padding:0px 18px;
  cursor: pointer;

}
.new-3-from-container{
  height: 48px;
  width: 242px;
  border: 1px #D5D9D9 solid;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 19px ;
  padding-right: 11px;
  font-family: var(--font-fm-lt);
  font-weight:800;
}
.new-3-from-container .price{
  color: #922501;
  
}
.new-3-from-container:hover {
  cursor: pointer;
}
.new-3-arrow{
  width: 11px;
  height: 15px;
  background: url(../img/McBZv0ZvnbehkIx.png) no-repeat -379px -600px;
}

